n8n/quote_generation.json
{
    "name": "AMG - Génération Devis (Webhook)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generer-devis",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                250,
                300
            ],
            "webhookId": "generer-devis"
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json.body || $input.first().json;\n\nconst date = input['Date'] || new Date().toLocaleDateString('fr-FR');\nconst nom = input['Nom'] || 'Client';\nconst prenom = input['Prénom'] || '';\nconst email = input['Email'] || '';\nconst prixHT = input['Prix HT'] || 0;\nconst tva = input['TVA'] || 20;\nconst prixTTC = input['Prix TTC'] || (prixHT * (1 + tva/100));\nconst numDevis = input['Numéro de devis'] || 'D-' + Date.now();\nconst description = input['Description'] || 'Travaux de rénovation';\nconst validite = input['Validité'] || '30 jours';\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head><meta charset=\"utf-8\"><style>\n  body { font-family: 'Segoe UI', Arial, sans-serif; margin: 40px; color: #333; }\n  .header { display: flex; justify-content: space-between; border-bottom: 3px solid #2563eb; padding-bottom: 20px; margin-bottom: 30px; }\n  .company { font-size: 24px; font-weight: bold; color: #2563eb; }\n  .devis-num { font-size: 14px; color: #666; }\n  .client-info { background: #f8fafc; padding: 20px; border-radius: 8px; margin-bottom: 30px; }\n  table { width: 100%; border-collapse: collapse; margin-bottom: 20px; }\n  th { background: #2563eb; color: white; padding: 12px; text-align: left; }\n  td { padding: 12px; border-bottom: 1px solid #e2e8f0; }\n  .total-row { font-weight: bold; font-size: 18px; }\n  .footer { margin-top: 40px; padding-top: 20px; border-top: 1px solid #e2e8f0; font-size: 12px; color: #666; }\n</style></head>\n<body>\n  <div class=\"header\">\n    <div class=\"company\">AMG Rénovation</div>\n    <div><div class=\"devis-num\">Devis ${numDevis}</div><div>Date: ${date}</div><div>Validité: ${validite}</div></div>\n  </div>\n  <div class=\"client-info\">\n    <strong>Client:</strong> ${prenom} ${nom}<br>\n    <strong>Email:</strong> ${email}\n  </div>\n  <table>\n    <thead><tr><th>Description</th><th>Montant HT</th></tr></thead>\n    <tbody><tr><td>${description}</td><td>${prixHT.toLocaleString('fr-FR')} €</td></tr></tbody>\n  </table>\n  <table>\n    <tr><td>Total HT</td><td><strong>${prixHT.toLocaleString('fr-FR')} €</strong></td></tr>\n    <tr><td>TVA (${tva}%)</td><td>${(prixTTC - prixHT).toLocaleString('fr-FR')} €</td></tr>\n    <tr class=\"total-row\"><td>Total TTC</td><td>${prixTTC.toLocaleString('fr-FR')} €</td></tr>\n  </table>\n  <div class=\"footer\">AMG Rénovation — SIRET: 123 456 789 00012 — TVA: FR12345678901</div>\n</body>\n</html>`;\n\nreturn [{ json: { success: true, document_type: 'devis', numero: numDevis, client: `${prenom} ${nom}`, total_ttc: prixTTC, html: html } }];"
            },
            "name": "Generate Quote HTML",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                480,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}"
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Generate Quote HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Quote HTML": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner"
    }
}